.App {
  padding-left: 10%;
  padding-right: 10%;
}

.notesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.notes {
  width: 80%;
}

.buttonContainer {
  
}

.inputContainer{
  overflow: hidden; 
  padding-right: 1em;
}

.inputStyle{
  width: 100%;
}

.buttonStyle {
  float: right;
}

.noteInputContainer{
  margin-top: 2%;
  margin-bottom: 4%;
}